<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <img src="image/dimashop.png" alt="" class="logo">
        </a>
        <p style="margin-top:75px">Barcha huquqlaringiz himoyalangan!</p>
        <p class="text-body-secondary">© 2023 </p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
        <h4 class="text-danger mb-3">Ma'lumotlar</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Biz haqimizda</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Yetkazib
                    berish</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Trek</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Pulni
                    qaytarish</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Yordam</a></li>
        </ul>
    </div>

    <div class="col mb-3">
        <h4 class="text-danger mb-3">Obuna bo'ling:</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Instagram</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Telegram</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary text-black">Youtube</a></li>
        </ul>
    </div>

    <div class="col mb-3">
        <h4 class="text-black mb-3">To'lov turlari :</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <img src="image/payme.png" alt="" style="width: 112px; margin-bottom:20px;">
            </li>
            <li class="nav-item mb-2">
                <img src="image/clickuz.png" alt="" style="width: 112px; margin-bottom:20px;">
            </li>
            <li class="nav-item mb-2">
                <img src="image/visa.png" alt="" style="width: 112px; margin-bottom:20px;">
            </li>
        </ul>
    </div>
</footer>