<div>
    <a href="/">
        <img src="image/dimashop.png" alt="" class="logo" />
    </a>
</div>

<div class="categoryButton">
    <i class="bi bi-grid"></i>
    <span> Barcha Bo'limlar</span>
</div>
<div class="search-area">
    <div class="search-area-icon">
        <i class="bi bi-search"></i>
    </div>
    <input id="search-product" name="search-product" type="text" placeholder="Mahsulot izlash"
        aria-label="search-product" class="search-input" />
    <i class="bi bi-sliders"></i>
</div>
<div class="user">
    <div class="liked">
        <i class="bi bi-heart-fill" style="color:crimson"></i>
        <span>Tanlangan</span>
    </div>
    <div class="cart">
        <i class="bi bi-bag"></i>
        <span>Savatcha</span>
    </div>

    {{#if token}}
    <a href="/logout" style="color:#5c5c5c">
        <i class="bi bi-box-arrow-right"></i>
    </a>
    {{else}}
    <a href="/login" style="color:#5c5c5c">
        <i class="bi bi-person-circle"></i>
    </a>
    {{/if}}

</div>