<section class="categories">
    <aside>
        <ul>
            <a href="#">
                <li>Noutbuklar</li>
            </a>
            <a href="#">
                <li> Telefonlar</li>
            </a>
            <a href="#">
                <li> Uy kompyuterlari</li>
            </a>
            <a href="#">
                <li> Kompyuter qismlari </li>
            </a>
            <a href="#">
                <li> Aksessuarlar </li>
            </a>
            <a href="#">
                <li> boshqa </li>
            </a>
        </ul>
    </aside>
    <div class="categories-main">
        <div class="category-name">
            <div>
                <h3 class="p-0 m-0">Tavfsiya etamiz!</h3>
                <small>Eng yaxshilari</small>
            </div>
        </div>
        <div class="products">
            <div class="product">
                <div class="product-img-area">
                    <img src="https://assets.asaxiy.uz/product/items/desktop/7583c73bf3814a97c599a2c9f9632a0a20210316164026721944vPGxv4JMk.png.webp"
                        alt="" class="product-img" />
                </div>
                <div class="product-text">
                    <h5 class="product-th">Notebook</h5>
                    <small class="product-price">Narxi: 1 000 000 </small>
                </div>
                <div class="product-footer">
                    <div class="product-rating">
                        <i class="bi bi-star-fill"></i>
                        <span>4.9</span>
                    </div>
                    <div class="addProduct-btn-area">
                        <i class="bi bi-heart" style="color:crimson; font-size:25px; margin-top:2px"></i>
                        <div class="addProduct-btn">
                            +
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>